<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recherche de questions</title>
    <!-- Feuille de style Bootstrap par défaut -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Ma feuille de style personnalisée -->
    <link href="/bootstrap/css/mystyle.css" rel="stylesheet">
</head>


<body>

<nav class="navbar navbar-expand-md navbar-light"> <!-- Change expand-lg to expand-md -->
    <div class="container-fluid">

        <!-- Logo -->
        <a class="navbar-brand">
            <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110.21 110.44" style="height:120px;">
                <rect class="cls-1" x="6.4" y="4.34" width="103.56" height="105.84"/>
                <rect class="cls-1" x="2.95" y="3.19" width="105.2" height="105.2"/>
                <rect class="cls-3" x=".5" y=".5" width="105.84" height="105.84"/>
                <text class="cls-2" transform="translate(7.43 62.21)">DevNote</text>
            </svg>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-light text-dark btn-inscription" th:href="@{/users/quizz}">Quizz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-light text-dark btn-inscription" th:href="@{/question/questionboard}">Questions</a>
                </li>
                <li class="nav-item">
                    <!-- Spring Security attend une requête POST pour déclencher la déconnexion de manière sécurisée, afin de prévenir les attaques CSRF
                    (Cross-Site Request Forgery). En utilisant un lien (<a href...) pour la déconnexion, tu envoies une requête GET, ce qui n'est pas traité par
                    Spring Security pour les actions de déconnexion par défaut. -->
                    <form action="/logout" method="post">
                        <button type="submit" class="btn btn-logout nav-link">Deconnexion</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-search-question">
    <h1 class="mt-aftertitle-searchquestion">Questions disponibles</h1>

    <div class="questions" th:each="question : ${questions}">
        <div class="question-content">
            <p th:text="${question.content}"></p>
        </div>
        <div class="button-group">
            <form th:action="@{/question/answer}" method="GET">
                <input type="hidden" th:name="questionId" th:value="${question.ID}" />
                <button type="submit" class="btn btn-search-question">Repondre</button>
            </form>
            <button type="button" class="btn btn-search-question">Ajouter A Un Quizz</button>

            <div th:if="${question.user.id == currentUserId}">
                <button type="button" class="btn btn-search-question">Modifier</button>
                <button type="button" class="btn btn-supprimer">Supprimer</button>
            </div>
        </div>
    </div>
</div>



<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>




</html>